.venv/
data/
yolov5/
source/
__pycache__/
*.pyc
*.part
*.zip
artifacts/*
!artifacts/lenet5_vnlp_corrected_pruned25.pt
!artifacts/lenet5_ocr_97target_final.pt
!artifacts/lenet5_ocr_pruned25_final.pt
!artifacts/lenet5_lite_ocr_int8_ready.pt
